---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
import ScrollWheel from "../components/ScrollWheel.astro"
import InfoGrid from "../components/InfoGrid.astro"
import Gallery from "../components/Gallery.astro"

const images = Array.from({ length: 27 }, (_, i) => i + 1);
---

<BaseLayout title="SPOT-AI - Generative AI Work">
  
  <Header />

  <main class="l-main">
    
    <div class="l-main__left">
      <ScrollWheel items={images} />
      <InfoGrid />
    </div>

    <div class="l-main__right">
      <Gallery items={images} />
    </div>

  </main>
</BaseLayout>

<style>
  .l-main { display: flex; width: 100%; position: relative; }

  .l-main__left {
    width: 50%; height: 100vh; position: sticky; top: 0;
    display: flex; flex-direction: column; justify-content: flex-end;
    padding: var(--app-grid-padding); padding-bottom: 10px; box-sizing: border-box; z-index: 10;
  }

  .l-main__right {
    width: 50%; background-color: var(--system-background-color); 
    padding-top: 10vh; 
    padding-bottom: 15vh;
    box-sizing: border-box;
  }

  @media (max-width: 900px) {
    .l-main { flex-direction: column; }
    .l-main__left { display: none; }
    .l-main__right { width: 100%; padding-top: 100px; padding-inline: 20px; }
  }
</style>